
@{
    ViewBag.Title = "KitapEkle";
}

<form action="/" method="post">
    <label>Kitap Adı</label>
    <input type="text" name="" value="" />
    <label>Yazar</label>
    <input type="text" name="" value="" />
    <label>Sayfa Sayısı</label>
    <input type="text" name="" value="" />
    <label>Tür</label>
    <input type="text" name="" value="" />
    <label>ISBN Numarası</label>
    <input type="text" name="" value="" />
    <button type="submit">Ekle</button>
</form>
