
@{
    ViewBag.Title = "Kitaplarim";
}

<style>
    table {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        border-spacing: 0;
    }

    th {
        padding: 10px;
    }

    td {
        border-top: 1px solid black;
        padding: 10px;
    }
</style>

<h2 style="width:100%;text-align:center; margin-bottom:50px;">Ödünç Aldığım Kitaplar</h2>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Kitap Adı</th>
            <th>Yazar</th>
            <th>Sayfa Sayısı</th>
            <th>Tür</th>
            <th>ISBN Numarası</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
    </tbody>
</table>